h1 {
    text-align: center;
}

h2 {
    font-size: 1.4em;
    margin-top: 20px;
}

p {
    margin: 10px 0;
}

.contents {
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
}