h2{
    color: red;
    margin-left: 30px;
    margin-bottom: 0;
}

.route {
    position: relative;
    margin: 20px;
}

.location {
    display: flex;
    align-items: center;
}

.L{
    margin-right: 15    0px;
}

.R{
    margin-left: 150px;
    text-align: right;
}

.location img {
    border-radius: 50%;
    width: 150px;   
    height: 150px;
    object-fit: cover;
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.description {
    font-size: 20px;
    width: 100px;
}

.right {
    margin-left: 20px;
}

.left {
    margin-right: 20px;
}

.footprints {
    width: 60px;
    height: auto;
}

.Leg {
    display: flex;
    width: 100%;
}

.LLeg {
    display: flex;
    justify-content: flex-start;
    flex: 1;
}

.RLeg {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}