.contents{
    margin: 0px 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    margin-bottom: 0.5em;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

p {
    margin-bottom: 1em;
}